<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redirigir todas las solicitudes al index.php de la raíz
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [QSA,L]
</IfModule>