.circle-invert {
    font-size: var(--font-size); /* Tamaño de la fuente */
    width: 1.8em; /* Se adapta al tamaño de la fuente */
    height: 1.8em;
    background-color: white;
    font-weight: bold;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Manrope,Arial,sans-serif;
    font-feature-settings: normal;
    font-variation-settings: normal;
    margin-right: 10px;
}

#como-solicitar .col{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.how-request-container{
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #eff7fa;
    margin: 10px;
    padding: 20px;
}

.subheader-container h2{
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 28px;
    padding-left: 1rem;
}

.subheader-container h2, .subheader-container li{
    margin: 1rem 0px 1rem;
}

.section-content h2{
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 28px;
    margin: 3rem 0px 3rem;
}

.how-request-container p, .how-request-container h2{
    text-align: center;
}

.subheader-container{
    background-color: #eff7fa;
    border-radius: 20px;
    padding: 20px;
}

h1{
    text-align: center;
    font-weight: bold;
}

.card {
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.card img {
    height: 180px;
    object-fit: cover;
}
.badge {
    background-color: #d0ebff;
    color: #1c7ed6;
    font-size: 0.75rem;
    padding: 5px 10px;
    border-radius: 10px;
}

html {
    scroll-behavior: smooth;
}
.nav-section {
    border-top: 1px solid #e9ecef;
    background-color: white;
    padding: 10px 0 0 0;
    position: sticky;
    top: 0;
    z-index: 1020;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.nav-link {
    cursor: pointer;
    position: relative;
    padding: 10px 15px;
    display: inline-block;
}
.nav-link.active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 3px;
    background-color: #0b3946;
}

.list-inline-item, .list-inline, .nav-link{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-inline-item{
    display: flex;
    align-items: end;
    align-content: end;
    justify-content: end;
}

section {
    scroll-margin-top: 160px; /* Ajusta para evitar que el navbar y nav-section tapen la sección */
}

.accordion-header{
    margin: 0;
}

.button-apply-now{
    padding: 0.75rem 2rem;
    border-radius: 1rem;
/*    BACKGROUND DEGRADADO DE AZUL A ROJO*/
    background: linear-gradient(to right, #c7161e, #21356b);
    color: white;
    font-weight: bold;
    border: 2px solid white;
}

.button-apply-now:hover{
    border-color: #c7161e;
    background: white;
    color: #21356b;
}
