.info-visa-container {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    flex-direction: column;
    align-items: center; /* Centra verticalmente si es necesario */
    width: 100%; /* Ocupa todo el ancho disponible */
    font-family: Arial, sans-serif;
}

.return-page {
    max-width: 69.2%; 
    width: 100%; 
    padding-top: 30px;
}

.small-title-page{
    font-size: .75rem;
    color: #9e9e9e;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-bottom: 7px;
}

.inicio-link{
    text-decoration: none;
    color: #9e9e9e;
}

.title-page{
    max-width: 69.2%; 
    width: 100%; 
    font-size: 2rem;
    font-weight: 700;
    line-height: 40px;
    --tw-text-opacity: 1;
    color: rgb(11 57 71 / var(--tw-text-opacity));
    padding-bottom: 30px;
}

.text-page{
    max-width: 69.2%; 
    width: 100%; 
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
}

.info-text{
    font-size: .875rem;
    line-height: 16px;
    --tw-text-opacity: 1;
    color: rgb(66 102 113 / var(--tw-text-opacity));
    margin-top: 8px;
}

.small-info{
    align-items: center;    
    display: flex;
}

.info-name{
    font-size: .875rem;
    font-weight: 700;
    line-height: 16px;
}

.separator{
    --tw-bg-opacity: 1;
    background-color: rgb(213 225 226 / var(--tw-bg-opacity));
    width: 1px;
    height: 16px;
    display: inline-block;
    margin-left: 8px;
    margin-right: 8px;
}

/*-----------------------------------------------------------------*/

.info-container{
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 100%;
    font-family: Arial, sans-serif;
}

.division{
    width: 70%;
    display: flex;
    gap: 85px; /* Espacio entre columnas */
}

.info-col-table{
    width: 36%;
    position: sticky;
    top: 90px; /* Ajusta según necesites */
    align-self: flex-start; /* Asegura que respete el flujo del contenedor */
}

.info-table {
    --tw-bg-opacity: 1;
    background-color: rgb(241 249 252 / var(--tw-bg-opacity));
    border-radius: 16px; /* Bordes redondeados */
    width: 100%; /* Se adapta al contenedor */
    max-width: 416px; /* Mantiene un límite en pantallas grandes */
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.info-title {
    margin-bottom: 32px;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 28px;
}

.info-number {
    color: #6c757d; /* Color gris para los números */
}

.info-text-option {
    --tw-text-opacity: 1;
    color: rgb(11 57 71 / var(--tw-text-opacity));
}

.info-item{
    text-decoration: none;
    font-size: .875rem;
    font-weight: 600;
    line-height: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    align-items: center;
    display: flex;
}

.info-col-article{
    width: 53%;
}

.image{
    margin-left: auto;
    margin-right: auto;
    border-radius: 16px;
    max-width: 100%;
    height: auto;
    display: block;
}

[data-zoom-image]{
    transform: none;
    transition: transform 400ms ease;
    cursor: zoom-in;
    position: relative;
}

.subtitle{
    margin-bottom: 32px;
    padding-top: 40px;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 32px;
    scroll-margin-top: 50px;
}

.subtitle-sub{
    margin-bottom: 16px;
    margin-top: 32px;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 28px;
}

.subtitle-sub2{
    margin-bottom: 16px;
    margin-top: 32px;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 28px;
}

.list-categories{
    margin-left: 20px;
    list-style: none;
    padding: 0;
}

.list-item{
    margin-top: 16px;
    margin-bottom: 16px;
    list-style-type: disc;
}

.text-link{
    font-size: 1rem;
    line-height: 28px;
    cursor: pointer;
    font-weight: 600;
    --tw-text-opacity: 1;
    color: rgb(11 57 71 / var(--tw-text-opacity));
    text-decoration-line: underline;
}

.all-text{
    text-align: justify;
    margin-top: 24px;
    margin-bottom: 0;
}

.many-text{
    text-align: justify;
    margin-bottom: 0;
}

.vs-container{
    margin-top: 24px;
    margin-bottom: 24px;
    overflow: hidden;
    border-radius: 8px;
    border-width: 1px;
    --tw-border-opacity: 1;
    border-color: rgb(176 193 197 / var(--tw-border-opacity, 1));
    border-style: solid;
    box-sizing: border-box;
    overflow-x: scroll;
    position: relative;
    width: 100%;
}

.table-vs{
    border-collapse: collapse;
    --tw-text-opacity: 1;
    color: rgb(11 57 71 / var(--tw-text-opacity, 1));
}

.table-vs-header{
    --tw-bg-opacity: 1;
    background-color: rgb(221 241 247 / var(--tw-bg-opacity, 1));
}

.row-table-vs{
    border-bottom-width: 1px;
    --tw-border-opacity: 1;
    border-color: rgb(213 225 226 / var(--tw-border-opacity, 1));
}

.row-table-vs-par{
    border-bottom-width: 1px;
    --tw-border-opacity: 1;
    border-color: rgb(213 225 226 / var(--tw-border-opacity, 1));
    --tw-bg-opacity: 1;
    background-color: rgb(248 249 249 / var(--tw-bg-opacity, 1));
}

.table-vs th, .table-vs td {
    padding: 10px;
    min-width: 140px;
    text-align: left;
}

.column-static-header{
    position: sticky;
    left: 0;
    --tw-bg-opacity: 1;
    background-color: rgb(221 241 247 / var(--tw-bg-opacity, 1));
}
.column-static{
    position: sticky;
    left: 0;
    background-color: white;/* Asegura que no se vea transparente */
}
.column-static-par{
    position: sticky;
    left: 0;
    --tw-bg-opacity: 1;
    background-color: rgb(248 249 249 / var(--tw-bg-opacity, 1));
}

/*------------------------------------------------------------*/

.info-related{
    margin-top: 96px;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.related-container{
    display: flex;
    margin-bottom: 4px;
    width: 70%;
    justify-content: space-between;
}

.related-title{
    font-size: 2rem;
    font-weight: 700;
    line-height: 40px;
    --tw-text-opacity: 1;
    color: rgb(11 57 71 / var(--tw-text-opacity));
}

.related-space{
    display: block;  
}

.related-button{
    border-radius: 8px;
    padding: 8px 20px;
    font-size: .75rem;
    font-weight: 700;
    line-height: 16px;
    outline-width: 1px;
    outline-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    --tw-text-opacity: 1;
    color: rgb(0 0 0 / var(--tw-text-opacity));
    cursor: pointer;
    text-decoration: none;
}

.other-button{
    display: none;
}

@media (min-width: 1200px) {
    .related-button {
        width: auto;
    }
}

.card-container {
    display: flex;
    gap: 32px;
    justify-content: center;
    padding-top: 45px;
    padding-bottom: 120px;
}

.card-0 {
    width: 22%;
    border-radius: 24px;
    overflow: hidden;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    background: white;
    text-decoration: none;
    height: 50vh;
}

.card-1 {
    width: 22%;
    border-radius: 24px;
    overflow: hidden;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    background: white;
    text-decoration: none;
    height: 50vh;
}

.card-2 {
    width: 22%;
    border-radius: 24px;
    overflow: hidden;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    background: white;
    text-decoration: none;
    height: 50vh;
}

.card-0 img, .card-1 img, .card-2 img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.card-content {
    padding: 32px;
}

.tag {
    display: inline-block;
    background-color: #e7f1ff;
    color: #4a90e2;
    font-size: 14px;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.card-0 h3, .card-1 h3, .card-2 h3 {
    font-size: 1.25rem;
    color: #333;
    font-weight: normal;
}

/* Responsive Styles */
@media (max-width: 1670px) {
    .division {
        width: 80%;
        display: flex;
        gap: 110px;
    }

    .info-col-table {
        width: 40%;
    }
    
    .info-col-article {
        width: 60%;
    }

    .return-page {
        max-width: none;
        padding-top: 24px;
        width: 80%;
    }

    .text-page {
        max-width: none;
        width: 80%;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 48px;
    }

    .title-page{
        max-width: none; 
        width: 80%; 
        font-size: 2rem;
        font-weight: 700;
        line-height: 40px;
        --tw-text-opacity: 1;
        color: rgb(11 57 71 / var(--tw-text-opacity));
        padding-bottom: 10px;
    }

    .info-related {
        margin-top: 56px;
        width: 100%;
        align-items: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    
    .related-container {
        width: 80%;
    }

    .card-container {
        width: 80%;
    }

    .card-0 {
        width: 50%;
    }

    .card-1 {
        width: 50%;
    }

    .card-2 {
        width: 50%;
    }

}

@media (max-width: 1200px) {
    .info-col-table {
        display: none;
    }

    .info-col-article {
        width: 100%;
    }

    .division {
        width: 85%;
        display: flex;
        gap: 85px;
    }

    .return-page {
        max-width: none;
        padding-top: 24px;
        width: 85%;
    }

    .text-page {
        max-width: none;
        width: 85%;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 48px;
    }

    .title-page{
        max-width: none; 
        width: 85%; 
        font-size: 2rem;
        font-weight: 700;
        line-height: 40px;
        --tw-text-opacity: 1;
        color: rgb(11 57 71 / var(--tw-text-opacity));
        padding-bottom: 10px;
    }

    .info-related {
        margin-top: 56px;
        width: 100%;
        align-items: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    
    .related-container {
        width: 85%;
    }

    .card-container {
        width: 85%;
    }

    .card-0 {
        width: 50%;
    }

    .card-1 {
        width: 50%;
    }

    .card-2 {
        display: none;
    }

}

@media (max-width: 768px) {
    .header{
        position: static;
    }

    .title-page{
        font-size: 1.25rem;
        width: 87%;
        line-height: 1.2;
        padding-bottom: 14px;
    }

    .info-related {
        margin-top: 56px;
        width: 100%;
        align-items: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .related-container {
        display: flex;
        margin-bottom: 4px;
        width: 87%;
        justify-content: space-between;
    }

    .related-space {
        display: none;
    }

    .related-button{
        width: 100%;
        border-radius: 16px;
        padding: 16px 32px;
        font-size: 1rem;
    }

    .card-container {
        display: grid;
        padding-top: 30px;
        padding-bottom: 120px;
        width: 85%;
        justify-content: normal;
    }

    .image{
        height: 220;
    }

    .card-0 {
        width: auto;
        border-radius: 24px;
        overflow: hidden;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        background: white;
        text-decoration: none;
        height: 50vh;
    }

    .card-1 {
        display: none;
    }

    .other-button{
        display: block;
        width: 100%;
    }

    .viewmore-button{
        text-decoration: none;
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 480px) {
    .info-title {
        font-size: 1.1rem;
    }

    .info-item {
        font-size: 0.8rem;
        flex-direction: column;
        align-items: flex-start;
    }
}
/* Responsive Styles */
