.hero{
    background-image: url('../img/homepage-hero.jpg');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    position: relative;
}
.hero-form-container{
    padding-top: 48px;
    padding-bottom: 48px;
    margin-left: 24px;
    margin-right: 24px;
    max-width: 1312px;
}
.hero-title{
    font-size: 2rem;
    font-weight: 700;
    line-height: 40px;
    text-align: center;
}
h1, h4{
    margin: 0;
    font-size: inherit;
    font-weight: inherit;
}
.hero-form-box{
    padding: 20px;
    --tw-bg-opacity: 1;
    background-color: rgb(231 238 239 / var(--tw-bg-opacity));
    border-radius: 16px;
    margin-top: 56px;
}
.hero-form{
    display: flex;
    row-gap: 24px;
    --tw-text-opacity: 1;
    color: rgb(11 57 71 / var(--tw-text-opacity, 1));
    column-gap: 32px;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}
.hero-form-selects{
    display: flex;
    gap: 16px;
    flex-direction: column;
    flex: 1 1 0%;
    width: 100%;
}
.hero-form-button-container{
    white-space: nowrap;
    align-items: flex-end;
    width: 100%;
    display: flex;
}
.hero-form-button{
    width: 100%;
}
.hero-button{
    position: relative;
    width: 100%;
    padding: 16px 40px;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 24px;
    background: linear-gradient(to right, #c7161e, #21356b);
    outline-width: 2px;
    outline-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    gap: 10px;
    color: white;
    border: 2px solid rgb(255 255 255 / 59%);
}
.hero-button:hover {
    border-color: #c7161e;
    background: transparent;
    color: #21356b;
}
.select-container {
    width: 100%;
}
.select-container label{
    font-size: 1rem;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 8px;
}

/* STYLES FORMULARIO */
.custom-select {
    position: relative;
    width: 100%;
    cursor: pointer;
    margin-bottom: 15px;
}

.selected-option {
    display: flex;
    align-items: center;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 16px 16px;
    border-radius: 18px;
}

.selected-option img {
    width: 20px;
    margin-right: 8px;
}

.dropdown-form {
    position: absolute;
    width: 100%;
    background: white;
    border: 1px solid #ccc;
    border-radius: 18px;
    top: 0;
    left: 0;
    display: none;
    z-index: 10;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.search-input {
    width: 100%;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    border-width: 0;
    padding: 20px 24px;
    outline-width: 0px;
    font-size: 1rem;
    line-height: 16px;
}

.options-list {
    max-height: 218px;
    overflow-y: auto;
}

.option {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

.option:hover {
    background-color: #f1f1f1;
}

.option img {
    width: 20px;
    margin-right: 8px;
}

@media (min-width: 768px) {
    .hero-form-container{
        margin-left: 48px;
        margin-right: 48px;
    }
    .hero-title{
        text-align: left;
        width: 66.666667%;
    }
    .hero-form-selects {
        flex-direction: row;
    }
    .select-container {
        width: 50%;
    }
}
@media (max-width: 1200px) {
    .hero {
        background-image: none;
    }
}
@media (min-width: 1200px) {
    .hero{
        height: 550px;
    }
    .hero-form-container{
        margin-left: 120px;
        margin-right: 120px;
    }
    .hero-title{
        font-size: 3rem;
        font-weight: 600;
        line-height: 56px;
        width: 50%;
    }
    .hero-form-box{
        --tw-bg-opacity: .5;
        margin-top: 120px;
    }
    .hero-form{
        flex-direction: row;
    }
    .hero-form-button-container {
        width: auto;
    }
    .select-container select {
        --tw-bg-opacity: .5;
    }
}
@media (min-width: 1536px) {
    .hero-title {
        font-size: 3.5rem;
        font-weight: 700;
        line-height: 120%;
    }
    .hero-form-container {
        margin-left: auto;
        margin-right: auto;
    }
}
