* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Manrope, Arial, sans-serif;
}

:root {
    --font-size: 3rem; /* Tamaño base de la fuente */
}


body{
    color: #0b3946;
}

.pick-us-sub-container{
    background-color: #eff7fa;
    padding: 20px;
    border-radius: 20px;
    margin: 10px;
}

.pick-us-sub-container i {
    font-size: 25px;
}

.circle {
    font-size: var(--font-size); /* Tamaño de la fuente */
    width: 1.8em; /* Se adapta al tamaño de la fuente */
    height: 1.8em;
    background-color: #e5eced;
    font-weight: bold;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Manrope,Arial,sans-serif;
    font-feature-settings: normal;
    font-variation-settings: normal;
    margin-right: 10px;
}






@media all and (min-width: 992px) {
    .dropdown-menu li{ position: relative; 	}
    .nav-item .submenu{
        display: none;
        position: absolute;
        left:100%; top:-7px;
    }
    .nav-item .submenu-left{
        right:100%; left:auto;
    }
    .dropdown-menu > li:hover{ background-color: #f1f1f1 }
    .dropdown-menu > li:hover > .submenu{ display: block; }
}
/* ============ desktop view .end// ============ */

/* ============ small devices ============ */
@media (max-width: 991px) {
    .dropdown-menu .dropdown-menu{
        margin-left:0.7rem; margin-right:0.7rem; margin-bottom: .5rem;
    }
}
