* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Manrope, Arial, sans-serif;
    font-feature-settings: normal;
    font-variation-settings: normal;
}

:root {
    --font-size: 3rem; /* Tamaño base de la fuente */
}


body{
    color: #0b3946;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1312px;
    margin-left: 24px;
    margin-right: 24px;
    font-size: 14px;
    width: 100%;
}
.logo-container{
    display: flex;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 8px;
}
.menu-container{
    display: flex;
    align-items: center;
    min-width: 613px;
}
.nav-container{
    display: flex;
    align-items: center;
}
/* Estilos para el botón principal del dropdown */
.dropdown-custom {
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
}

/* Estilos generales del dropdown */
.dropdown-menu {
    border-radius: 24px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border: none;
    padding: 20px 0;
    width: 280px; /* Tamaño similar al de la imagen */
    background: white;
    transform-origin: top right;
}
.dropdown-item{
    padding: 12px 24px;
}

/* Asegurar que el dropdown se abra hacia la izquierda */
.submenu {
    display: none;
    list-style: none; /* Quitar viñetas */
    padding-left: 0; /* Eliminar indentación extra */
    margin-top: 5px;
}
.submenu .dropdown-item{
    padding: 12px 48px;
}
.dropdown-menu {
    list-style: none; /* Quitar viñetas */
    padding-left: 0;
    min-width: 370px; /* Ajusta el ancho del dropdown */
}
.dropdown-submenu {
    position: relative;
}
.sub-dropdown-toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sub-icon {
    transition: transform 0.2s ease-in-out;
}
.submenu.show {
    display: block;
}

.country-container{
    display: flex;
    align-items: center;
    font-size: .875rem;
    font-weight: 700;
    line-height: 16px;
    cursor: pointer;
}

.button-login{
    padding: 6px 20px;
    font-size: .75rem;
    font-weight: 700;
    line-height: 16px;
    border-radius: 8px;
    border: 1px solid black;
    color: black;
    background-color: white;
}
button:hover{
    border: 2px solid black;
    background-color: transparent;
}

@media (min-width: 1200px) {
    .header-container{
        margin-left: 120px;
        margin-right: 120px;
    }
}

@media (min-width: 768px) {
    .header-container{
        margin-left: 48px;
        margin-right: 48px;
    }
    .logo-container{
        padding-top: 12px;
        padding-bottom: 12px;
    }
}